body{
    background-image: url("../static/images/arriere_plan.png");
    background-size: cover;
	overflow: hidden;
}

.aligner-centre{
    text-align: center;
	margin-top: 20vh;
}

.taille-image {
    width: 35vh;
    height: 35vh;
}

.distance {
	display: flex;
	position: relative;
	justify-content: space-between;
	margin-top: 7vh;
	margin-left: 35vw;
	margin-right: 35vw;
}

a {
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: block;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 25px 35px;
	font-family: 'Poppins', sans-serif;
}

a.bouton {
	color: rgba(0, 0, 0, 0.7);
	box-shadow: rgba(0, 0, 0, 0.7) 0 0px 0px 2px inset;
}

a.bouton:hover {
	color: rgb(255, 255, 255);
	box-shadow: rgb(0, 0, 0) 0 80px 0px 2px inset;
}

.logo {
	opacity:0;
	animation: apparition 1s linear forwards 2s;
}

.bouton {
	animation-name: glissement;
	animation-duration: 3s;
}

.avion {
	animation: defile 10s;
	visibility: hidden;
}

@keyframes apparition {
    from {
        opacity:0%;
    }
    to {
        opacity:85%;
    }
}

@keyframes glissement {
	from {
		margin-top: 40%;
    }
    to {
		margin-top: 0%;
    }
}

@keyframes defile {
	0% {
	margin-left: -50%;
	visibility: visible;
	}
	100% {
	margin-left: 150%;
	visibility: visible;
	}
}