body{
    background-image: url("../static/images/arriere_plan.png");
    background-size: cover;
}

.aligner-centre{
    text-align: center;
    margin-top: 5vh;
}

.taille-image {
    width: 35vh;
    height: 35vh;
}

img {
    opacity:0;
    animation: apparition 1s linear forwards 2s;
}
@keyframes apparition {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}