body {
    background-image: url(../static/images/fond_gris_degrade.png);
    background-size: cover;
}

.container {
    background-color: rgb(204, 204, 204);
}

img {
    width: 10vw;
    height: 10vw;
}