{% extends 'baseAdmin.html' %}

{% block title %}  {{ title }}  {% endblock %}


{% block content %}
        <h1>Modifier les villes</h1>
        <br><br>
        <div class="menu">
          <a href="/admin-ville-select"><input class="modif"
           type="button"
           value="Modifier Villes"></a>
          <a href="/admin-ville-create"><input class="modif"
           type="button"
           value="Ajouter Villes"></a>
          <a href="/admin-ville-delete"><input class="modif"
           type="button"
           value="Supprimer Villes"></a>
        </div>
        <div>
            {% if nom == "creer" %}
                <div class ="Formulaire">
                    <form method="POST">
                        <div>
                            <label for="nom">Ville</label>
                        <input type="text" id="nom" name="nom" placeholder="{{ tailles[1] }}"required="required">
                        </div>
                        <div>
                            <label for="Pays_paysID">Pays associé :</label>
                        <select name="id-pays" id="id-pays">
                            {% for post in posts %}
                                <option value="{{ post[0] }}">{{ post[1] }}</option>
                            {% endfor %}
                        </select>
                        </div>
                        <input type="submit" value="Ajouter">
                    </form>
                </div>
            {% endif %}

            {% if nom == "select-ville" %}
                <form method="post">
                    <div>
                        <label for="circuit">Ville:</label>
                        <select id="id-circuit-modif" name="id-circuit">
                            {% for post in posts %}
                                <option value="{{ post[0] }}">{{ post[1] }}</option>
                            {% endfor %}
                        </select>
                        <button class="taille" type="submit">Modifier</button>
                    </div>
                </form>
            {% endif %}
            {% if nom == "delete" %}
                <form method="post">
                    <div>
                        <label for="circuit">Ville de départ:</label>
                        <select name="id-circuit">
                            {% for post in posts %}
                                <option value="{{ post[0] }}">{{ post[1] }}</option>
                            {% endfor %}
                        </select>
                        <button class="taille" type="submit">Supprimer</button>
                    </div>
                </form>
            {% endif %}
        </div>
{% endblock %}
