{% extends 'baseAdmin.html' %}

{% block title %}  {{ title }}  {% endblock %}


{% block content %}
<h1>Modifier les villes</h1>
<br><br>
<div class="menu">
  <input class="modif"
   type="button"
   value="Modifier Villes">
  <input class="modif"
   type="button"
   value="Ajouter Villes">
  <input class="modif"
   type="button"
   value="Supprimer Villes">
</div>
<div>
    <div>
        {{ posts }}
    </div>
    <div class ="Formulaire">
        <form action="" method="POST">
            <div>
                <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom">
            </div>
            <div>
                <label for="Pays_paysID">Pays associé :</label>
            <input type="number" id="Pays_paysID" name="Pays_paysID">
            </div>
            <input type="submit">
        </form>
    </div>
</div>
{% endblock %}
