{% extends 'baseAdmin.html' %}

{% block title %}  {{ title }}  {% endblock %}


{% block content %}

<div>
    <div>
        {{ posts }}
    </div>
    <div class ="Formulaire">
        <form action="/my-handling-form-page" method="post">
            <div>
                <label for="descriptif">Descriptif :</label>
            <input type="text" id="descriptif" name="descriptif">
            </div>
            <div>
                <label for="date">Date de départ :</label>
            <input type="date" id="date" name="dateDepart">
            </div>
            <div>
                <label for="places">Nombre de places :</label>
            <input type="number" id="places" name="nbrPlacesDisponibles">
            </div>
            <div>
                <label for="dureeEnJours">Durée en jours :</label>
            <input type="number" id="dureeEnJours" name="dureeEnJours">
            </div>
            <div>
                <label for="prixInscription">Prix inscription :</label>
            <input type="number" id="prixInscription" name="prixInscription">
            </div>
            <div>
                <label for="villeDepartID">Ville de départ:</label>
            <input type="number" id="villeDepartID" name="villeDepartID">
            </div>
            <div>
                <label for="villeArriveeID">Ville d'arrivée :</label>
            <input type="number" id="villeArriveeID" name="villeArriveeID">
            </div>
        </form>

    </div>
</div>
{% endblock %}
