{% extends 'baseAdmin.html' %}

{% block title %}  {{ title }}  {% endblock %}


{% block content %}

<div>
    <div>
        {{ posts }}
    </div>
    <div class ="Formulaire">
        <form action="" method="post">
            <div>
                <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom">
            </div>
            <div>
                <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" name="prenom">
            </div>
            <div>
                <label for="mdp">Mot de passe :</label>
            <input type="password" id="mdp" name="mdp">
            </div>
            <div>
                <label for="DateDeNaissance">Date de naissance:</label>
            <input type="date" id="DateDeNaissance" name="DateDeNaissance">
            </div>
            <div>
                <label for="role">Role:</label>
            <input type="number" id="role" name="role">
            </div>
            <div>
                <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            </div>
            <input type="submit">
        </form>


    </div>
</div>
{% endblock %}
