{% extends 'baseAdmin.html' %}

{% block title %}  {{ title }}  {% endblock %}


{% block content %}
<h1 class="margin">Modifier les comptes clients</h1>
<br><br>
<div class="menu margin">
  <a href="/admin-user-select"><input class="modif" type="button" value="Modifier Compte Client"></a>
  <a href="/form"></a><input class="modif" type="button" value="Ajouter Compte Client">
  <a href="/admin-user-delete"><input class="modif" type="button" value="Supprimer Compte Client"></a>
</div>
<div>

    {% if nom == 'creer' %}
    <div class ="Formulaire centrer">
        <form action="" method="POST">
            <div>
                <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" placeholder="{{ taille[1] }}"required="required">
            </div>
            <div>
                <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" name="prenom" placeholder="{{ taille[2] }}"required="required">
            </div>
            <div>
                <label for="mdp">Mot de passe :</label>
            <input type="password" id="mdp" name="mdp" placeholder="{{ taille[3] }}"required="required">
            </div>
            <div>
                <label for="DateDeNaissance">Date de naissance:</label>
            <input type="date" id="DateDeNaissance" name="DateDeNaissance" placeholder="{{ taille[4] }}"required="required">
            </div>
            <div>
                <label for="role">Role:</label>
            <input type="number" id="role" name="role" min="0" max="1" placeholder="{{ taille[5] }}"required="required">
            </div>
            <div>
                <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="{{ taille[6] }}"required="required">
            </div>
            <input type="submit">
        </form>
    </div>
    {% endif %}

    {% if nom == "delete" %}
                <form method="post" class="centrer">
                    <div>
                        <label for="circuit">Nom du compte:</label>
                        <select name="id-circuit">
                            {% for post in posts %}
                                <option value="{{ post[0] }}">{{ post[1] }}</option>
                            {% endfor %}
                        </select>
                        <button class="taille" type="submit">Supprimer</button>
                    </div>
                </form>
    {% endif %}

    {% if nom == "select" %}
                <form method="post" class="centrer">
                    <div>
                        <label for="circuit">Nom du compte:</label>
                        <select name="id-client">
                            {% for post in posts %}
                                <option value="{{ post[0] }}">{{ post[1] }}</option>
                            {% endfor %}
                        </select>
                        <button class="taille" type="submit">Modifier</button>
                    </div>
                </form>
    {% endif %}
</div>
{% endblock %}
