{% extends 'baseAdmin.html' %}

{% block title %}  {{ title }}  {% endblock %}


{% block content %}
<h1>Modifier les comptes Admin</h1>
    <br><br>

  <div class="menu">

    <br><br>
      <input class="modif"
       type="button"
       value="Modifier Compte Admin">
      <input class="modif"
       type="button"
       value="Ajouter Compte Admin">
      <input class="modif"
       type="button"
       value="Supprimer Compte Admin">
    </div>
<div>
    <div>
        {{ posts }}
    </div>

</div>
{% endblock %}
