{% extends 'baseAdmin.html' %}

{% block title %}  {{ title }}  {% endblock %}


{% block content %}
<h1>Modifier les lieux de visites</h1>
    <br><br>
  <div class="menu">
      <input class="modif"
       type="button"
       value="Modifier Lieux de visite">
      <input class="modif"
       type="button"
       value="Ajouter Lieux de visite">
      <input class="modif"
       type="button"
       value="Supprimer Lieux de visite">
    </div>
<div>
    <div>
        {{ posts }}
    </div>
    <div class ="Formulaire">
        <form action="" method="POST">
            <div>
                <label for="label">Label :</label>
            <input type="text" id="label" name="label">
            </div>
            <div>
                <label for="descriptif">Descriptif :</label>
            <input type="textarea" id="descriptif" name="descriptif">
            </div>
            <div>
                <label for="prixVisite">Prix de la visite:</label>
            <input type="number" id="prixVisite" name="prixVisite" min="0">
            </div>
            <div>
                <label for="Ville_villeID">Ville associé :</label>
            <input type="number" id="Ville_villeID" name="Ville_villeID">
            </div>
            <input type="submit">
        </form>


    </div>
</div>
{% endblock %}
