{% extends 'baseAdmin.html' %}

{% block title %}  {{ title }}  {% endblock %}


{% block content %}

<div>
    <div>
        {{ posts }}
    </div>
    <div class ="Menu_Admin">
    <button class ="menu_actif" type="submit" value= "" >Modifier Circuit</button>
        <button class ="menu_actif" type="submit" value= "" >Modifier Etapes</button>
        <button class ="menu_actif" type="submit" value= "" >Modifier Lieux de visites</button>
        <button class ="menu_actif" type="submit" value= "" >Modifier Pays</button>
        <button class ="menu_actif" type="submit" value= "" >Modifier Villes</button>
        <button class ="menu_actif" type="submit" value= "" >Modifier Compte Client</button>
        <button class ="menu_actif" type="submit" value= "" >Modifier Compte Admin</button>
    </div>
</div>
{% endblock %}
