{% extends 'baseAdmin.html' %}

{% block title %}  {{ title }}  {% endblock %}


{% block content %}
    {% if nom >= 'Modify' -%}
        {% for taille in tailles %}
            <div>
                <div class ="Formulaire">
                    <form method="POST">
                        <div>
                            <label for="descriptif">Descriptif :</label>
                            <h1>{{taille[1]}}</h1>
                            <textarea id="descriptif" name="descriptif" placeholder="{{taille[1]}}"></textarea>
                        </div>
                        <div>
                            <label for="date">Date de départ :</label>
                            <input type="date" id="date" name="dateDepart" placeholder={{taille[2]}}>
                        </div>
                        <div>
                            <label for="places">Nombre de places :</label>
                            <input type="number" id="places" name="nbrPlacesDisponibles" placeholder={{taille[3]}}>
                        </div>
                        <div>
                            <label for="dureeEnJours">Durée en jours :</label>
                            <input type="number" id="dureeEnJours" name="dureeEnJours" placeholder={{taille[4]}}>
                        </div>
                        <div>
                            <label for="prixInscription">Prix inscription :</label>
                            <input type="number" id="prixInscription" name="prixInscription" placeholder={{taille[5]}}>
                        </div>
                        <div>
                            <label for="villeDepartID">Ville de départ:</label>
                            <select id="villeDepartID" name="villeDepartID">
                                {% for post in posts %}
                                    <option value={{ post[0] }} >{{ post[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div>
                            <label for="villeArriveeID">Ville d'arrivée :</label>
                            <select id="villeArriveeID" name="villeArriveeID" >
                                {% for post in posts %}
                                    <option value={{ post[0] }} >{{ post[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                       <button class="taille" type="submit">Modifier</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if nom >= 'Delete' -%}
     <form method="POST">
         {{posts}}
      {% for post in posts %}

        <section>
          <img class="img_arriere" src={{ post[6] }}>
          <div><h1 class="titre-pays">{{ post[7] }}</h1></div>
          <div class="bloc_reservation">
            <a href="http://127.0.0.1:5000/" class="details" type="submit">+</a>
            <input type="radio" name="id" value= {{post[0]}}><br>
            Descriptif :<br> {{ post[1] }}<br>
            Date de départ : {{ post[2] }}<br>
            Nombre de places : {{ post[3] }}<br>
            Durée en jours : {{ post[4] }}<br>
            Prix : {{ post[5] }} €<br>
            <button class="taille" type="submit">Supprimer</button>
          </div>
        </section>
        <div class="barre-transition" id={{post[0]}}></div>

      {% endfor %}
      </form>
    {% endif %}
{% endblock %}
