<!doctype html>

<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
    <meta property="og:image" content="../static/images/logo.png">
    <meta property="og:description" content="Venez visiter les différents pays grâce à nos différents circuits !">
    <meta property="og:title" content="HappyFly">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="png" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/style_admin.css"/>
    <title>HappyFly{% block title %} {% endblock %}</title>

  </head>

  <body>
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
