<!doctype html>

<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
    <meta property="og:image" content="../static/images/logo.png">
    <meta property="og:description" content="Venez visiter les différents pays grâce à nos différents circuits !">
    <meta property="og:title" content="HappyFly">
    <link rel="stylesheet" href="../static/normalize.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" type="png" href="../static/images/logo.png">
    <link rel="stylesheet" href="../static/style_admin.css"/>
    <title>HappyFly{% block title %} {% endblock %}</title>
    <script src="../static/javascript/menu-deroulant.js"></script>

  </head>

  <header>
    <img class="logo" type="png" src="../static/images/logo.png">
    <a class="deconnexion" href="http://127.0.0.1:5000/"><img class="deconnexion" type="png" src="../static/images/porte_deconnexion.png"></a>
    <h1 class=titre-header>HappyFly</h1>
    <div class="menu-deroulant">
      <button onclick="myFunction()" class="bouton">☰</button>
      <div id="fonction-bouton" class="contenu-menu-deroulant">
        <a class="liens" href="#">Espagne</a>
        <a class="liens" href="#1">France</a>
        <a class="liens" href="#2">Angleterre</a>
        <a class="liens" href="#3">Italie</a>
        <a class="liens" href="#4">Allemagne</a>
        <a class="liens" href="#5">Turquie</a>
        <a class="liens" href="#6">Autriche</a>
        <a class="liens" href="#7">Suisse</a>
        <a class="liens" href="#8">Grèce</a>
        <a class="liens" href="#9">Pays-Bas</a>
      </div>
    </div>
  </header>

  <body>
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
  <div class ="Menu_Admin">
    <button class ="menu_actif" type="submit" value= "" >Modifier Circuit</button>
        <button class ="menu_actif" type="submit" value= "" >Modifier Etapes</button>
        <button class ="menu_actif" type="submit" value= "" >Modifier Lieux de visites</button>
        <button class ="menu_actif" type="submit" value= "" >Modifier Pays</button>
        <button class ="menu_actif" type="submit" value= "" >Modifier Villes</button>
        <button class ="menu_actif" type="submit" value= "" >Modifier Compte Client</button>
        <button class ="menu_actif" type="submit" value= "" >Modifier Compte Admin</button>
    </div>
  </body>
</html>
