<!DOCTYPE html>

<html lang="fr">

  <head>

      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta property="og:image" content="RAJOUTER IMAGE">
      <meta property="og:description" content="Venez visiter les différents pays grâce à nos différents circuits !">
      <meta property="og:title" content="Food & Drink">
      <link rel="stylesheet" href="../static/normalize.css"/>
      <link rel="stylesheet" href="../static/style.css"/>
      <link rel="icon" type="png" href="../static/images/logo.png">
      <title>HappyFly</title>

  </head>

  <body>
    <div class="aligner-centre">
        <img class="taille-image" type="png" src="../static/images/logo.png">
    </div>
    <div class="wrap">
  		<a href="#" class="button">Hover Me!</a>
    </div>
  </body>
