<!DOCTYPE html>

<html lang="fr">

  <head>

      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
      <meta property="og:image" content="../static/images/logo.png">
      <meta property="og:description" content="Venez visiter les différents pays grâce à nos différents circuits !">
      <meta property="og:title" content="HappyFly">
      <link rel="stylesheet" href="../static/normalize.css"/>
      <link rel="stylesheet" href="../static/style_bienvenu.css"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
      <link rel="icon" type="png" href="../static/images/logo.png">
      <title>HappyFly</title>

  </head>

  <body>

    <div>
      <img class="avion" type="png" src="../static/images/avion_publicitaire.png">
    </div>
    <div class="distance aligner-centre">
      <div>
        <a href="/form" class="bouton">S'inscrire</a>
      </div>
      <div>
        <a href="/login" class="bouton">Se connecter</a>
      </div>
    </div>
    <div class="aligner-centre">
        <img class="taille-image logo" type="png" src="../static/images/logo.png">
    </div>

  </body>
</html>