{% extends 'interface.html' %}

{% block content %}

    <header>
      <img class="logo" type="png" src="../static/images/logo.png">
      <img class="deconnexion" type="png" src="../static/images/porte_deconnexion.png">
      <h1 class=titre-header>HappyFly</h1>
      <div class="menu-deroulant">
        <button onclick="myFunction()" class="bouton">☰</button>
        <div id="fonction-bouton" class="contenu-menu-deroulant">
          <a class="liens" href="#0">Espagne</a>
          <a class="liens" href="#1">France</a>
          <a class="liens" href="#2">Angleterre</a>
          <a class="liens" href="#3">Italie</a>
          <a class="liens" href="#4">Allemagne</a>
          <a class="liens" href="#5">Turquie</a>
          <a class="liens" href="#6">Autriche</a>
          <a class="liens" href="#7">Suisse</a>
          <a class="liens" href="#8">Grèce</a>
          <a class="liens" href="#9">Pays-Bas</a>
        </div>
      </div>
    </header>

    <form method="POST">
      {% for post in posts %}

        <section>
          <img class="img_arriere" src={{ post[6] }}>
          <div class="bloc_reservation">
            <input type="radio" name="id" value= {{post[0]}}>
            Descriptif : {{ post[1] }}<br>
            Date de départ : {{ post[2] }}<br>
            Nombre de places : {{ post[3] }}<br>
            Durée en jours : {{ post[4] }}<br>
            Prix : {{ post[5] }}<br>
            <button type="submit" value= {{post[0]}}>Réserver</button>
          </div>
        </section>
        <div class="barre-transition" id={{post[0]}}></div>

      {% endfor %}
      </form>
                
{% endblock %}