{% extends 'interface.html' %}

{% block content %}

    <header>
      <img class="logo" type="png" src="../images/logo.png">
      <h1 class=titre-header>HappyFly</h1>
      <div class="menu-deroulant">
        <button onclick="myFunction()" class="bouton">☰</button>
        <div id="fonction-bouton" class="contenu-menu-deroulant">
          <a class="liens" href="#lien-espagne">Espagne</a>
          <a class="liens" href="#lien-france">France</a>
          <a class="liens" href="#lien-angleterre">Angleterre</a>
          <a class="liens" href="#lien-italie">Italie</a>
          <a class="liens" href="#lien-allemagne">Allemagne</a>
          <a class="liens" href="#lien-turquie">Turquie</a>
          <a class="liens" href="#lien-autriche">Autriche</a>
          <a class="liens" href="#lien-suisse">Suisse</a>
          <a class="liens" href="#lien-grece">Grèce</a>
          <a class="liens" href="#lien-pays-bas">Pays-Bas</a>
        </div>
      </div>
    </header>

    <h1>Venez visiter les différents pays grâce à nos différents circuits !</h1>
    <form method="POST">
            <table>
            <thead>
                <tr>
                    <th>Valide</th>
                    <th>Descriptif</th>
                    <th>Date de depart</th>
                    <th>Nombre de place</th>
                    <th>Durée en jours</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td>
                            <input type="checkbox" name="id" value= {{post[0]}}>
                        </td>

                        <td>
                             {{ post[1] }}<br>
                        </td>
                        <td>
                             {{ post[2] }}<br>
                        </td>
                        <td>
                             {{ post[3] }}<br>
                        </td>
                        <td>
                             {{ post[4] }}<br>
                        </td>
                        <td>
                             {{ post[5] }}<br>
                        </td>
                        <td>
                            image
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Réserver</button>
    </form>
    <div>

    </div>
{% endblock %}